################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*./bin
*./obj
/obj/Debug/net48
/bin/Debug/net48
/bin/Debug/net48/Revit-Ninja.dll
/.vs/RevitNinja
